
.searchFilters {
    margin-top: 20px;
    margin-left: 30px;

    &__heading{
        border:1px solid #222222;
        border-radius: 20px;
        padding: 12px 16px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
    }
}

.filterGroup {
    margin-top: 17px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid #222222;
    padding: 13px 17px;
    &__heading{
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
    }
    &__item{
        margin-top: 22px;
        margin-bottom: 21px;
    }
    &__advancedSearch {
        display: block;
        color: blue; 
        cursor: pointer;

    }
}

label {
    padding: 4px 0px;
    display: block;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}



