.Slidebar{
    width: 384px;
    margin-top: 5px;
    margin-left: 30px;
    &__Search{
        position: sticky;
        top: 5px;
        display: flex; 
    } 
    &__Searchcmt{
        width: 291px;
        height: 44px;
        border-radius: 9999px;
        background: #313030;
        border: none;
        color: #e7e9ea;
        padding-left: 53px;
        font-size: 15px;
        line-height: 24px;
        &:focus{
       
            background: #000;
            outline: 1px solid #00aaff;
            
        }
    }
    &__iconSearch{
        position: absolute;
        top: 15px;
        left: 20px;
        width: 18px;
        filter: brightness(0) saturate(100%) invert(30%) sepia(0%) saturate(2578%) hue-rotate(187deg) brightness(124%) contrast(104%);

        &:focus + & {
            filter: brightness(0) saturate(100%) invert(49%) sepia(15%) saturate(5948%) hue-rotate(172deg) brightness(102%) contrast(103%);
          }   
    }

    &__block{
        border: 1px solid #222222;
        border-radius: 16px;

    }
    &__Premium{
        margin-top: 38px;
    }

    &__Trending{
        margin-top: 16px;
    }

    &__Wfollow{
        margin-top: 16px;
    }
    &__title{
        padding: 12px 16px;
        color: #fff;
        font-size: 18px;
        font-weight: 800;
        line-height: 22px;
    }

    &__desc{
        color: #fff;
        padding: 0 16px;
        margin: 11px 0;
        font-size: 14px;
        line-height: 19px;
    }
    &__sub{
        height: 34px;
        padding: 0 17px;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        color: #fff;
        background: #00aaff;
        border-radius: 16px;
        cursor: pointer;
        margin: 0px 0px 12px 16px;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:12px 16px;
        &:hover{
            background: #0f0f0f;
        }
    }
    
    &__rate,
    &__titlehastag{
        color: #71767b;
        font-size: 13px;
        line-height: 16px;
    }
    &__more{
        color: #71767b;
        font-size: 15px;
        line-height: 20px;
    }
    &__hastag{
        margin: 5px 0px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        color: #fff;
    }

    &__Show{
        display: block;
        color: #00aaff;
        padding: 16px;
    }

    &__avatar{
        width: 40px;
        height: 40px;
    }

    &__followUser{
        padding: 12px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:first-of-type{
            margin-top: 12px;
        }

        &:hover{
            background: #0f0f0f;
        }
    }

 

    &__user{
        display: flex;
        align-items: center;
        gap: 8px;

    }
    &__name{
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        color: #fff;
    }

    &__email{
        font-size: 13px;
        line-height: 20px;
        color: #71767b;
    }


    &__follow{
        padding: 1px 17px;
        height: 32px;
        border-radius: 16px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
    }

}