

%filltext{
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: normal;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#000;
}

.twitterlogin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &__left{
        flex:1;
        max-width: 55%;
        width: 50%;
    }
    &__right{
        margin: 81px 0;
        flex:1;
        padding: 20px;
        max-width: 45% ;
    }

    &__form{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin:0 auto 0 0;
    }

    &__heading{
        width: 80%;
        font-size: 64px;
        font-weight: 700;
        color: #e7e9ea;
        line-height: 84px;
        text-align: start;
    }
    &__enter,
    &__desc{
        font-size: 29px;
        font-weight: 700;
        margin: 23px 0 30px;
        color: #e7e9ea;
        line-height: 34px;
        letter-spacing: normal;
        text-align: start;
    }

    &__desc{
        margin: 30px 0 30px;
    }

    &__enter{
        margin: 33px 0 ;
    }
    &__icon{
        width: 20px;
        object-fit: contain;
        margin-right: 4px;
    }

    &__input{
        width: 100%;
        min-width: 300px;
        max-width: 439px;
        display: flex;
        flex-direction: column;
    }

    &__img{
        flex:2;
        margin-left: 18%;
        width: 60%;
        max-height: auto;
       
    }
   
 
    &__script{
        margin-top: 13px;
        max-width: 100%;
        display: flex;
        color: #fff;
        align-items: center;
        gap: 4px;
    }
    &__block{
        height: 1px;
        width: 100%;
        background: #cccaca;
    }
    &__request{
        margin-top: 5px;
        font-size: 10px;
        color: rgb(113, 118, 123);

        span{
            color: var(--text-color-blue);
        }
    }

    &__ask{
        text-overflow: unset;
        margin-top: 60px;
        color: #fff;
        font-size: 17px;
        font-weight: 550;
        line-height: 20px;
        margin-bottom: 20px;
    }


    &__email,
    &__password{
        @extend %filltext;
        width: 100%;
        min-width: 200px;
        height: 45px;
        background: inherit;
        border: 1px solid #646464;
        padding: 12px 0 12px 8px;
        color: #fff;
        font-weight: 100;
        margin-right: 10px;
        font-size: 17px;
    }

    &__password{
        margin-top: 30px;
        margin-bottom: 5px;
    }

    &__forgot{
        margin-top: 6px;
        font-style: 13px !important;
        line-height: 16px;
        color:#1d9bf0;
        text-align: start;
    }

    &__errors{
        min-height: 13px;
        display: inline-block;
        color: #ff0000;
        font-size: 13px;
    }
   
}


.twittercreate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center; 
    align-items: center;
    background: rgba(91,112,131, 0.5);
    transition: opacity 0.3s ease-in-out; 
    opacity: 0;
    z-index: 99;

    &.show{
        display:flex;
        opacity: 1;
    }
    &__block{
    font-size: 13px;
    background: #000;
    padding: 0 20px 59px;
    width: 100%;
    min-width: 300px;
    max-width: 560px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    }

    &__on{
        width: 100%;
        margin-left: -25px;
        min-width: 300px;
        max-width: 439px;
        display: flex;
        flex-direction: row;
    }
    &__heading{
        margin: 19px 0 30px;
        font-size: 19px;
        font-weight: 600;
        color: #fff;
        line-height: 36px;
        text-align: start;
        letter-spacing: normal
    }

    &__icon{
        margin-top: 11px;
        width: 42px;
        height: 42px;
        margin-left: 239px;
    }

    &__textsc{
        margin-top: 13px;
        width: 100%;
        min-width: 280px;
        max-width: 316px;
        height: 35px; 
        background: inherit;
        border: 1px solid #646464;
        padding: 12px 0;
        color: #fff;
        font-weight: 100;
        font-size: 17px;
        line-height: 24px;
        

        &::placeholder{
            padding-right: 8px;;
        }
        
    }

    &__desc{
        color: #71767b;
        @extend %filltext;
        font-weight: 100;
        text-align: left;
        a{
            margin-left: 2px;
            color: #00aaff !important;
        }
    }
    &__desc-mt22{
        
        margin-bottom: -34px;
    }
    &__desc-mt21{
        margin-bottom: 49px;
    }
    &__close {
        margin-left: -55px;
        margin-top: 16px;
        color: #fff; 
        border: none; 
        border-radius: 50%; 
        width: 30px ;
        height: 30px; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        cursor: pointer; 
        font-size: 18px; 
        line-height: 1; 
        &:hover{
            background: #71767b;
        }
    }

    &__name{
        height: 56px;
    }
}

@media (max-width: 1366px) {
   .twittercreate{

        &__block{
            overflow-y: auto;
            height: 538px;
            padding-bottom: 0;
        }
   }

   
}